@page
@model Milujeme_plarka.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Seznam uživatelů</h2>
<p>@Model.StatusMessage</p>
<div><a class="btn btn-success m-1" asp-page="./Create">Nový</a></div>
@if (Model.Users.Count == 0)
{
    <p>Žádní uživatelé nejsou.</p>
}
else
{
    <form class="form-inline p-1" asp-page="./Index" method="get">
        <label class="mr-sm-2" for="searchString">UserName</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="searchString" name="searchString" placeholder="část jména" value="@Model.UserNameFilter">
        <button type="submit" class="btn btn-primary">Vybrat</button>
        <a class="btn btn-light" asp-page="./Index">Vše</a>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Users[0].Email)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@user.Id">Podrobnosti</a>
                        <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@user.Id">Upravit</a>
                        <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@user.Id">Odstranit</a>
                        <a class="btn btn-light btn-sm" asp-page="./Password" asp-route-id="@user.Id">Heslo</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    var prevDisabled = !Model.Users.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Users.HasNextPage ? "disabled" : "";

    <div class="btn-group">
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Users.PageIndex - 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-light @prevDisabled">
            Předchozí
        </a>
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-pageIndex="@(Model.Users.PageIndex + 1)"
           asp-route-currentFilter="@Model.CurrentFilter"
           class="btn btn-light @nextDisabled">
            Další
        </a>
    </div>
    }