@page
@model Milujeme_plarka.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Tady máš rolos</h2>
<p>@Model.StatusMessage</p>
<div><a class="btn btn-primary btn-lg" asp-page="./Create">Přidej sem roli kámo</a></div>
@if (Model.Roles.Count == 0)
{
    <p>Žádné role nejsou.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>nazve</th>
                <th>ekšn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.Roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@role.Id">Podrobnosti</a>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@role.Id">Upravit</a>
                        <a class="btn btn-outline-warning" asp-page="./Delete" asp-route-id="@role.Id">Odstranit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

