@page
@model Milujeme_plarka.Pages.Champions.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>tady jsou čempové</h2>
<p>@Model.StatusMessage</p>
<div><a class="btn btn-primary btn-lg" asp-page="./Create">DEj sem nějakýho novýho čempa jo</a></div>
@if (Model.Champions.Count == 0)
{
    <p>žádní čempové ještě nejsou</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>čamp</th>
                <th>ekšn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var champion in Model.Champions)
            {
                <tr>
                    <td>@champion.ChampionName</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@champion.ChampionId">Podrobnosti</a>
                        <a class="btn btn-outline-success" asp-page="./Edit" asp-route-id="@champion.ChampionId">Upravit</a>
                        <a class="btn btn-outline-danger" asp-page="./Delete" asp-route-id="@champion.ChampionId">Odstranit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}